StayFit_FatSecretService/src/main/resources/wsdl/fatsecret.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="FatSecretService"
  targetNamespace="http://stayfit.com/fatsecretservice"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:tns="http://stayfit.com/fatsecretservice"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

  <wsdl:types>
    <xsd:schema targetNamespace="http://stayfit.com/fatsecretservice" version="1.0">

      <xsd:complexType name="GetfoodByIdRequest">
         <xsd:sequence>
         	<xsd:element name="id" type="xsd:long" nillable="false" />
         </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="GetfoodByNameRequest">
         <xsd:sequence>
         	<xsd:element name="name" type="xsd:string" nillable="false" />
         </xsd:sequence>
      </xsd:complexType>
      
      
      <xsd:complexType name="GetfoodByNameResponse">
      <xsd:sequence>
         	<xsd:element name="Foods" type="tns:Foods" />
         </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="GetfoodByIdResponse">
      	 <xsd:sequence>
         	<xsd:element name="Food" type="tns:Food" />
         </xsd:sequence>
      </xsd:complexType>
      
      
      <xsd:complexType name="Serving">
     	 <xsd:sequence>
         	<xsd:element name="servingId" type="xsd:long" minOccurs="0" nillable="false" />
	          <xsd:element name="servingDescription" type="xsd:string" minOccurs="0" nillable="false" />
	          <xsd:element name="servingUrl" type="xsd:string" minOccurs="0" nillable="false" />
	          <xsd:element name="metricServingAmount" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="metricServingUnit" type="xsd:string" minOccurs="0" nillable="false" />
	          <xsd:element name="numberOfUnits" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="measurementDescription" type="xsd:string" minOccurs="0" nillable="false" />
	          <xsd:element name="calories" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="carbohydrate" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="protein" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="fat" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="saturatedFat" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="polyunsaturatedFat" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="monounsaturatedFat" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="transFat" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="cholesterol" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="sodium" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="potassium" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="fiber" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="sugar" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="vitaminA" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="vitaminC" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="calcium" type="xsd:decimal" minOccurs="0" nillable="false" />
	          <xsd:element name="iron" type="xsd:decimal" minOccurs="0" nillable="false" />
         </xsd:sequence>
      </xsd:complexType>
      
          
      <xsd:complexType name="Food">
        <xsd:sequence>
              <xsd:element name="id" type="xsd:long" minOccurs="0" nillable="false" />
	          <xsd:element name="name" type="xsd:string" minOccurs="0" nillable="false" />
	          <xsd:element name="type" type="xsd:string" minOccurs="0" nillable="false" />
	          <xsd:element name="brandName" type="xsd:string" minOccurs="0" nillable="false" />
	          <xsd:element name="url" type="xsd:string" minOccurs="0" nillable="false" />
              <xsd:element name="servings" type="tns:Serving" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xsd:sequence>
      </xsd:complexType>
      
      
      
      <xsd:complexType name="Foods">
        <xsd:sequence>
              <xsd:element name="food" type="tns:item" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="item">
        <xsd:sequence>
              <xsd:element name="description" type="xsd:string" minOccurs="0" nillable="false" />
	          <xsd:element name="id" type="xsd:long" minOccurs="0" nillable="false" />
	          <xsd:element name="name" type="xsd:string" minOccurs="0" nillable="false" />
	          <xsd:element name="url" type="xsd:string" minOccurs="0" nillable="false" />
	          <xsd:element name="type" type="xsd:string" minOccurs="0" nillable="false" />
	          <xsd:element name="brandName" type="xsd:string" minOccurs="0" nillable="false" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:element name="GetfoodByIdRequest" type="tns:GetfoodByIdRequest"/>
      <xsd:element name="GetfoodByIdResponse" type="tns:GetfoodByIdResponse"/>
	  <xsd:element name="GetfoodByNameRequest" type="tns:GetfoodByNameRequest"/>
      <xsd:element name="GetfoodByNameResponse" type="tns:GetfoodByNameResponse"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GetfoodByIdRequest">
    <wsdl:part name="parameters" element="tns:GetfoodByIdRequest" />
  </wsdl:message>
  
  <wsdl:message name="GetfoodByIdResponse">
    <wsdl:part name="parameters" element="tns:GetfoodByIdResponse" />
  </wsdl:message>
  
  
  <wsdl:message name="GetfoodByNameRequest">
    <wsdl:part name="parameters" element="tns:GetfoodByNameRequest" />
  </wsdl:message>
  
  <wsdl:message name="GetfoodByNameResponse">
    <wsdl:part name="parameters" element="tns:GetfoodByNameResponse" />
  </wsdl:message>

  <wsdl:portType name="FatSecretServicePortType">
    <wsdl:operation name="getFoodById">
      <wsdl:input message="tns:GetfoodByIdRequest" wsam:Action="http://stayfit.com/fatsecretservice/GetfoodByIdRequest" />
      <wsdl:output message="tns:GetfoodByIdResponse" wsam:Action="http://stayfit.com/fatsecretservice/GetfoodByIdResponse" />
    </wsdl:operation>
    
    <wsdl:operation name="getFoodByName">
      <wsdl:input message="tns:GetfoodByNameRequest" wsam:Action="http://stayfit.com/fatsecretservice/GetfoodByNameRequest" />
      <wsdl:output message="tns:GetfoodByNameResponse" wsam:Action="http://stayfit.com/fatsecretservice/GetfoodByNameResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="FatSecretServiceSoapBinding" type="tns:FatSecretServicePortType">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getFoodById">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation> 

   <wsdl:operation name="getFoodByName">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="FatSecretService">
    <wsdl:documentation>Fat Secret Service</wsdl:documentation>
    <wsdl:port name="FatSecretPort" binding="tns:FatSecretServiceSoapBinding">
      <soap:address location="http://localhost:8083/fatsecret/services/fatsecret" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>