stayfit-archetype/src/main/resources/archetype-resources/src/main/resources/wsdl/clients/user_diet.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="UserDietService"
	targetNamespace="${target-namespace-user-diet}"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:tns="${target-namespace-user-diet}"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

	<wsdl:types>
		<xsd:schema
			targetNamespace="${target-namespace-user-diet}" version="1.0">

			<xsd:element name="GetUserDietByUserIdRequest"
				type="tns:GetUserDietByUserIdRequest" />
			<xsd:element name="GetUserDietByUserIdResponse"
				type="tns:GetUserDietByUserIdResponse" />
			
			<xsd:element name="SaveUserDietRequest"
				type="tns:SaveUserDietRequest" />
			<xsd:element name="SaveUserDietResponse"
				type="tns:SaveUserDietResponse" />
			
			<xsd:element name="GetAllUserDietRequestNotCompletedRequest"
				type="tns:GetAllUserDietRequestNotCompletedRequest" />
			<xsd:element name="GetAllUserDietRequestNotCompletedResponse"
				type="tns:GetAllUserDietRequestNotCompletedResponse" />
				
			<xsd:element name="GetUserDietRequestNotCompletedByUserIdRequest"
				type="tns:GetUserDietRequestNotCompletedByUserIdRequest" />
			<xsd:element name="GetUserDietRequestNotCompletedByUserIdResponse"
				type="tns:GetUserDietRequestNotCompletedByUserIdResponse" />
			
			<xsd:element name="SaveUserDietRequestRequest"
				type="tns:SaveUserDietRequestRequest" />
			<xsd:element name="SaveUserDietRequestResponse"
				type="tns:SaveUserDietRequestResponse" />
			
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="GetUserDietByUserIdRequest">
		<wsdl:part name="parameters"
			element="tns:GetUserDietByUserIdRequest" />
	</wsdl:message>

	<wsdl:message name="GetUserDietByUserIdResponse">
		<wsdl:part name="parameters"
			element="tns:GetUserDietByUserIdResponse" />
	</wsdl:message>
	
	<wsdl:message name="SaveUserDietRequest">
		<wsdl:part name="parameters"
			element="tns:SaveUserDietRequest" />
	</wsdl:message>

	<wsdl:message name="SaveUserDietResponse">
		<wsdl:part name="parameters"
			element="tns:SaveUserDietResponse" />
	</wsdl:message>
	
	<wsdl:message name="GetAllUserDietRequestNotCompletedRequest">
		<wsdl:part name="parameters"
			element="tns:GetAllUserDietRequestNotCompletedRequest" />
	</wsdl:message>

	<wsdl:message name="GetAllUserDietRequestNotCompletedResponse">
		<wsdl:part name="parameters"
			element="tns:GetAllUserDietRequestNotCompletedResponse" />
	</wsdl:message>
	
	<wsdl:message name="GetUserDietRequestNotCompletedByUserIdRequest">
		<wsdl:part name="parameters"
			element="tns:GetUserDietRequestNotCompletedByUserIdRequest" />
	</wsdl:message>

	<wsdl:message name="GetUserDietRequestNotCompletedByUserIdResponse">
		<wsdl:part name="parameters"
			element="tns:GetUserDietRequestNotCompletedByUserIdResponse" />
	</wsdl:message>
	
	<wsdl:message name="SaveUserDietRequestRequest">
		<wsdl:part name="parameters"
			element="tns:SaveUserDietRequestRequest" />
	</wsdl:message>

	<wsdl:message name="SaveUserDietRequestResponse">
		<wsdl:part name="parameters"
			element="tns:SaveUserDietRequestResponse" />
	</wsdl:message>
	
	<wsdl:portType name="UserDietServicePortType">
		
		<wsdl:operation name="getUserDietByUserId">
			<wsdl:input message="tns:GetUserDietByUserIdRequest"
				wsam:Action="${target-namespace-user-diet}/GetUserDietByUserIdRequest" />
			<wsdl:output message="tns:GetUserDietByUserIdResponse"
				wsam:Action="${target-namespace-user-diet}/GetUserDietByUserIdResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="saveUserDiet">
			<wsdl:input message="tns:SaveUserDietRequest"
				wsam:Action="${target-namespace-user-diet}/SaveUserDietRequest" />
			<wsdl:output message="tns:SaveUserDietResponse"
				wsam:Action="${target-namespace-user-diet}/SaveUserDietResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="getAllUserDietRequestNotCompleted">
			<wsdl:input message="tns:GetAllUserDietRequestNotCompletedRequest"
				wsam:Action="${target-namespace-user-diet}/GetAllUserDietRequestNotCompletedRequest" />
			<wsdl:output message="tns:GetAllUserDietRequestNotCompletedResponse"
				wsam:Action="${target-namespace-user-diet}/GetAllUserDietRequestNotCompletedResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="getUserDietRequestNotCompletedByUserId">
			<wsdl:input message="tns:GetUserDietRequestNotCompletedByUserIdRequest"
				wsam:Action="${target-namespace-user-diet}/GetUserDietRequestNotCompletedByUserIdRequest" />
			<wsdl:output message="tns:GetUserDietRequestNotCompletedByUserIdResponse"
				wsam:Action="${target-namespace-user-diet}/GetUserDietRequestNotCompletedByUserIdResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="saveUserDietRequest">
			<wsdl:input message="tns:SaveUserDietRequestRequest"
				wsam:Action="${target-namespace-user-diet}/SaveUserDietRequestRequest" />
			<wsdl:output message="tns:SaveUserDietRequestResponse"
				wsam:Action="${target-namespace-user-diet}/SaveUserDietRequestResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="UserDietServiceSoapBinding"
		type="tns:UserDietServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="getUserDietByUserId">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="saveUserDiet">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getAllUserDietRequestNotCompleted">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getUserDietRequestNotCompletedByUserId">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="saveUserDietRequest">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="UserDietService">
		<wsdl:documentation>User Diet Service</wsdl:documentation>
		<wsdl:port name="UserDietPort"
			binding="tns:UserDietServiceSoapBinding">
			<soap:address
				location="http://localhost:8083/user_diet/services/user_diet" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>