StayFit_RESTProsumer/src/main/resources/wsdl/clients/user_history.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="UserHistoryService"
	targetNamespace="http://stayfit.com/userhistoryservice"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:tns="http://stayfit.com/userhistoryservice"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://stayfit.com/userhistoryservice" version="1.0">

			<xsd:complexType name="GetUserHistoryByUserIdRequest">
				<xsd:sequence>
					<xsd:element name="userId" type="xsd:long" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="GetUserHistoryByUserIdResponse">
				<xsd:sequence>
					<xsd:element name="userHistories" type="tns:UserHistory" minOccurs="0"
						maxOccurs="unbounded" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="GetUserHistoryByDateRequest">
				<xsd:sequence>
					<xsd:element name="userId" type="xsd:long" nillable="false" />
					<xsd:element name="date" type="xsd:date" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="GetUserHistoryByDateResponse">
				<xsd:sequence>
					<xsd:element name="userHistory" type="tns:UserHistory" minOccurs="0"
						nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="SaveUserHistoryRequest">
				<xsd:sequence>
					<xsd:element name="userHistory" type="tns:UserHistory" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="SaveUserHistoryResponse">
				<xsd:sequence>
					<xsd:element name="userHistory" type="tns:UserHistory" minOccurs="0"
						nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="UserHistory">
				<xsd:sequence>
					<xsd:element name="userId" type="xsd:long"
						minOccurs="0" nillable="false" />
					<xsd:element name="date" type="xsd:date"
						minOccurs="0" nillable="false" />
					<xsd:element name="breakfast" type="tns:Breakfast"
						minOccurs="0" maxOccurs="unbounded" nillable="false" />
					<xsd:element name="lunch" type="tns:Lunch"
						minOccurs="0" maxOccurs="unbounded" nillable="false" />
					<xsd:element name="dinner" type="tns:Dinner" minOccurs="0"
						maxOccurs="unbounded" nillable="false" />
					<xsd:element name="other" type="tns:Other"
						minOccurs="0" maxOccurs="unbounded" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="Meal">
				<xsd:sequence>
					<xsd:element name="foodId" type="xsd:long" minOccurs="0"
						nillable="false" />
					<xsd:element name="amount" type="xsd:float"
						minOccurs="0" nillable="false" />
					<xsd:element name="unit" type="xsd:string"
						minOccurs="0" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="Breakfast">
				<xsd:complexContent>
					<xsd:extension base="tns:Meal">
						<xsd:sequence>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="Lunch">
				<xsd:complexContent>
					<xsd:extension base="tns:Meal">
						<xsd:sequence>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="Dinner">
				<xsd:complexContent>
					<xsd:extension base="tns:Meal">
						<xsd:sequence>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="Other">
				<xsd:complexContent>
					<xsd:extension base="tns:Meal">
						<xsd:sequence>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
				
			<xsd:element name="GetUserHistoryByUserIdRequest"
				type="tns:GetUserHistoryByUserIdRequest" />
			<xsd:element name="GetUserHistoryByUserIdResponse"
				type="tns:GetUserHistoryByUserIdResponse" />
				
			<xsd:element name="GetUserHistoryByDateRequest"
				type="tns:GetUserHistoryByDateRequest" />
			<xsd:element name="GetUserHistoryByDateResponse"
				type="tns:GetUserHistoryByDateResponse" />
			
			<xsd:element name="SaveUserHistoryRequest"
				type="tns:SaveUserHistoryRequest" />
			<xsd:element name="SaveUserHistoryResponse"
				type="tns:SaveUserHistoryResponse" />
			
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetUserHistoryByUserIdRequest">
		<wsdl:part name="parameters"
			element="tns:GetUserHistoryByUserIdRequest" />
	</wsdl:message>

	<wsdl:message name="GetUserHistoryByUserIdResponse">
		<wsdl:part name="parameters"
			element="tns:GetUserHistoryByUserIdResponse" />
	</wsdl:message>
	
	<wsdl:message name="GetUserHistoryByDateRequest">
		<wsdl:part name="parameters"
			element="tns:GetUserHistoryByDateRequest" />
	</wsdl:message>

	<wsdl:message name="GetUserHistoryByDateResponse">
		<wsdl:part name="parameters"
			element="tns:GetUserHistoryByDateResponse" />
	</wsdl:message>
	
	<wsdl:message name="SaveUserHistoryRequest">
		<wsdl:part name="parameters"
			element="tns:SaveUserHistoryRequest" />
	</wsdl:message>

	<wsdl:message name="SaveUserHistoryResponse">
		<wsdl:part name="parameters"
			element="tns:SaveUserHistoryResponse" />
	</wsdl:message>
	
	<wsdl:portType name="UserHistoryServicePortType">
		
		<wsdl:operation name="getUserHistoryByUserId">
			<wsdl:input message="tns:GetUserHistoryByUserIdRequest"
				wsam:Action="http://stayfit.com/userhistoryservice/GetUserHistoryByUserIdRequest" />
			<wsdl:output message="tns:GetUserHistoryByUserIdResponse"
				wsam:Action="http://stayfit.com/userhistoryservice/GetUserHistoryByUserIdResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="getUserHistoryByDate">
			<wsdl:input message="tns:GetUserHistoryByDateRequest"
				wsam:Action="http://stayfit.com/userhistoryservice/GetUserHistoryByDateRequest" />
			<wsdl:output message="tns:GetUserHistoryByDateResponse"
				wsam:Action="http://stayfit.com/userhistoryservice/GetUserHistoryByDateResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="saveUserHistory">
			<wsdl:input message="tns:SaveUserHistoryRequest"
				wsam:Action="http://stayfit.com/userhistoryservice/SaveUserHistoryRequest" />
			<wsdl:output message="tns:SaveUserHistoryResponse"
				wsam:Action="http://stayfit.com/userhistoryservice/SaveUserHistoryResponse" />
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding name="UserHistoryServiceSoapBinding"
		type="tns:UserHistoryServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="getUserHistoryByUserId">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getUserHistoryByDate">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="saveUserHistory">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="UserHistoryService">
		<wsdl:documentation>User History Service</wsdl:documentation>
		<wsdl:port name="UserHistoryPort"
			binding="tns:UserHistoryServiceSoapBinding">
			<soap:address
				location="http://localhost:8084/user_history/services/user_history" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>