StayFit_RESTProsumer/src/main/resources/wsdl/clients/user_diet.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="UserDietService"
	targetNamespace="http://stayfit.com/userdietservice"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:tns="http://stayfit.com/userdietservice"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://stayfit.com/userdietservice" version="1.0">
			
			<xsd:simpleType name="JobKind">
			    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="SEDENTARY"/>
			      <xsd:enumeration value="NORMAL"/>
			      <xsd:enumeration value="HARD"/>
			    </xsd:restriction>
			  </xsd:simpleType>
			  
			<xsd:complexType name="GetUserDietByUserIdRequest">
				<xsd:sequence>
					<xsd:element name="userId" type="xsd:long" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="GetUserDietByUserIdResponse">
				<xsd:sequence>
					<xsd:element name="userDiet" type="tns:UserDiet" minOccurs="0"
						nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="SaveUserDietRequest">
				<xsd:sequence>
					<xsd:element name="userDiet" type="tns:UserDiet" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="SaveUserDietResponse">
				<xsd:sequence>
					<xsd:element name="userDiet" type="tns:UserDiet" minOccurs="0"
						nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="GetAllUserDietRequestNotCompletedRequest">
				<xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="GetAllUserDietRequestNotCompletedResponse">
				<xsd:sequence>
					<xsd:element name="userDietRequest" type="tns:UserDietRequest" minOccurs="0" maxOccurs="unbounded" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="GetUserDietRequestNotCompletedByUserIdRequest">
				<xsd:sequence>
					<xsd:element name="userId" type="xsd:long" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="GetUserDietRequestNotCompletedByUserIdResponse">
				<xsd:sequence>
					<xsd:element name="userDietRequest" type="tns:UserDietRequest" minOccurs="0" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="SaveUserDietRequestRequest">
				<xsd:sequence>
					<xsd:element name="userDietRequest" type="tns:UserDietRequest" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="SaveUserDietRequestResponse">
				<xsd:sequence>
					<xsd:element name="userDietRequest" type="tns:UserDietRequest" minOccurs="0"
						nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="UserDiet">
				<xsd:sequence>
					<xsd:element name="userId" type="xsd:long"
						nillable="false" />
					<xsd:element name="nutritionistId" type="xsd:long"
						nillable="false" />
					<xsd:element name="week" type="tns:DietDay"
						minOccurs="0" maxOccurs="7" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="UserDietRequest">
				<xsd:sequence>
					<xsd:element name="bodyFatPerc" type="xsd:float"
						nillable="false" />
					<xsd:element name="targetWeight" type="xsd:float"
						nillable="false" />
					<xsd:element name="numTrainingDays" type="xsd:int"
						nillable="false" />
					<xsd:element name="jobKind" type="tns:JobKind"
						nillable="false" />
					<xsd:element name="note" type="xsd:string" minOccurs="0" />
					<xsd:element name="completed" type="xsd:boolean"
						nillable="false" />
					<xsd:element name="userId" type="xsd:long"
						nillable="false" />
					<xsd:element name="nutritionistId" type="xsd:long" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="DietDay">
				<xsd:sequence>
					<xsd:element name="breakfast" type="tns:Breakfast"
						minOccurs="0" maxOccurs="unbounded" nillable="false" />
					<xsd:element name="lunch" type="tns:Lunch"
						minOccurs="0" maxOccurs="unbounded" nillable="false" />
					<xsd:element name="dinner" type="tns:Dinner" minOccurs="0"
						maxOccurs="unbounded" nillable="false" />
					<xsd:element name="other" type="tns:Other"
						minOccurs="0" maxOccurs="unbounded" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="Meal">
				<xsd:sequence>
					<xsd:element name="foodId" type="xsd:long" minOccurs="0"
						nillable="false" />
					<xsd:element name="name" type="xsd:string"
						minOccurs="0" nillable="false" />
					<xsd:element name="calories" type="xsd:decimal"
						minOccurs="0" nillable="false" />
					<xsd:element name="amount" type="xsd:float"
						minOccurs="0" nillable="false" />
					<xsd:element name="unit" type="xsd:string"
						minOccurs="0" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="Breakfast">
				<xsd:complexContent>
					<xsd:extension base="tns:Meal">
						<xsd:sequence>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="Lunch">
				<xsd:complexContent>
					<xsd:extension base="tns:Meal">
						<xsd:sequence>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="Dinner">
				<xsd:complexContent>
					<xsd:extension base="tns:Meal">
						<xsd:sequence>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="Other">
				<xsd:complexContent>
					<xsd:extension base="tns:Meal">
						<xsd:sequence>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
				
			<xsd:element name="GetUserDietByUserIdRequest"
				type="tns:GetUserDietByUserIdRequest" />
			<xsd:element name="GetUserDietByUserIdResponse"
				type="tns:GetUserDietByUserIdResponse" />
			
			<xsd:element name="SaveUserDietRequest"
				type="tns:SaveUserDietRequest" />
			<xsd:element name="SaveUserDietResponse"
				type="tns:SaveUserDietResponse" />
			
			<xsd:element name="GetAllUserDietRequestNotCompletedRequest"
				type="tns:GetAllUserDietRequestNotCompletedRequest" />
			<xsd:element name="GetAllUserDietRequestNotCompletedResponse"
				type="tns:GetAllUserDietRequestNotCompletedResponse" />
				
			<xsd:element name="GetUserDietRequestNotCompletedByUserIdRequest"
				type="tns:GetUserDietRequestNotCompletedByUserIdRequest" />
			<xsd:element name="GetUserDietRequestNotCompletedByUserIdResponse"
				type="tns:GetUserDietRequestNotCompletedByUserIdResponse" />
			
			<xsd:element name="SaveUserDietRequestRequest"
				type="tns:SaveUserDietRequestRequest" />
			<xsd:element name="SaveUserDietRequestResponse"
				type="tns:SaveUserDietRequestResponse" />
			
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="GetUserDietByUserIdRequest">
		<wsdl:part name="parameters"
			element="tns:GetUserDietByUserIdRequest" />
	</wsdl:message>

	<wsdl:message name="GetUserDietByUserIdResponse">
		<wsdl:part name="parameters"
			element="tns:GetUserDietByUserIdResponse" />
	</wsdl:message>
	
	<wsdl:message name="SaveUserDietRequest">
		<wsdl:part name="parameters"
			element="tns:SaveUserDietRequest" />
	</wsdl:message>

	<wsdl:message name="SaveUserDietResponse">
		<wsdl:part name="parameters"
			element="tns:SaveUserDietResponse" />
	</wsdl:message>
	
	<wsdl:message name="GetAllUserDietRequestNotCompletedRequest">
		<wsdl:part name="parameters"
			element="tns:GetAllUserDietRequestNotCompletedRequest" />
	</wsdl:message>

	<wsdl:message name="GetAllUserDietRequestNotCompletedResponse">
		<wsdl:part name="parameters"
			element="tns:GetAllUserDietRequestNotCompletedResponse" />
	</wsdl:message>
	
	<wsdl:message name="GetUserDietRequestNotCompletedByUserIdRequest">
		<wsdl:part name="parameters"
			element="tns:GetUserDietRequestNotCompletedByUserIdRequest" />
	</wsdl:message>

	<wsdl:message name="GetUserDietRequestNotCompletedByUserIdResponse">
		<wsdl:part name="parameters"
			element="tns:GetUserDietRequestNotCompletedByUserIdResponse" />
	</wsdl:message>
	
	<wsdl:message name="SaveUserDietRequestRequest">
		<wsdl:part name="parameters"
			element="tns:SaveUserDietRequestRequest" />
	</wsdl:message>

	<wsdl:message name="SaveUserDietRequestResponse">
		<wsdl:part name="parameters"
			element="tns:SaveUserDietRequestResponse" />
	</wsdl:message>
	
	<wsdl:portType name="UserDietServicePortType">
		
		<wsdl:operation name="getUserDietByUserId">
			<wsdl:input message="tns:GetUserDietByUserIdRequest"
				wsam:Action="http://stayfit.com/userdietservice/GetUserDietByUserIdRequest" />
			<wsdl:output message="tns:GetUserDietByUserIdResponse"
				wsam:Action="http://stayfit.com/userdietservice/GetUserDietByUserIdResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="saveUserDiet">
			<wsdl:input message="tns:SaveUserDietRequest"
				wsam:Action="http://stayfit.com/userdietservice/SaveUserDietRequest" />
			<wsdl:output message="tns:SaveUserDietResponse"
				wsam:Action="http://stayfit.com/userdietservice/SaveUserDietResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="getAllUserDietRequestNotCompleted">
			<wsdl:input message="tns:GetAllUserDietRequestNotCompletedRequest"
				wsam:Action="http://stayfit.com/userdietservice/GetAllUserDietRequestNotCompletedRequest" />
			<wsdl:output message="tns:GetAllUserDietRequestNotCompletedResponse"
				wsam:Action="http://stayfit.com/userdietservice/GetAllUserDietRequestNotCompletedResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="getUserDietRequestNotCompletedByUserId">
			<wsdl:input message="tns:GetUserDietRequestNotCompletedByUserIdRequest"
				wsam:Action="http://stayfit.com/userdietservice/GetUserDietRequestNotCompletedByUserIdRequest" />
			<wsdl:output message="tns:GetUserDietRequestNotCompletedByUserIdResponse"
				wsam:Action="http://stayfit.com/userdietservice/GetUserDietRequestNotCompletedByUserIdResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="saveUserDietRequest">
			<wsdl:input message="tns:SaveUserDietRequestRequest"
				wsam:Action="http://stayfit.com/userdietservice/SaveUserDietRequestRequest" />
			<wsdl:output message="tns:SaveUserDietRequestResponse"
				wsam:Action="http://stayfit.com/userdietservice/SaveUserDietRequestResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="UserDietServiceSoapBinding"
		type="tns:UserDietServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="getUserDietByUserId">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="saveUserDiet">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getAllUserDietRequestNotCompleted">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getUserDietRequestNotCompletedByUserId">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="saveUserDietRequest">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="UserDietService">
		<wsdl:documentation>User Diet Service</wsdl:documentation>
		<wsdl:port name="UserDietPort"
			binding="tns:UserDietServiceSoapBinding">
			<soap:address
				location="http://localhost:8083/user_diet/services/user_diet" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>