StayFit_BarcodeService/src/main/resources/wsdl/barcode.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="BarcodeService"
  targetNamespace="http://stayfit.com/barcodeservice"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:tns="http://stayfit.com/barcodeservice"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

  <wsdl:types>
    <xsd:schema targetNamespace="http://stayfit.com/barcodeservice" version="1.0">

      <xsd:complexType name="GetNameByBarcodeRequest">
         <xsd:sequence>
         	<xsd:element name="barcode" type="xsd:string" nillable="false" />
         </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="GetNameByBarcodeResponse">
         <xsd:sequence>
         	<xsd:element name="name" type="xsd:string" nillable="false" />
         </xsd:sequence>
      </xsd:complexType>
         
      
      <xsd:element name="GetNameByBarcodeRequest" type="tns:GetNameByBarcodeRequest"/>
      <xsd:element name="GetNameByBarcodeResponse" type="tns:GetNameByBarcodeResponse"/>
      

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GetNameByBarcodeRequest">
    <wsdl:part name="parameters" element="tns:GetNameByBarcodeRequest" />
  </wsdl:message>
  
  <wsdl:message name="GetNameByBarcodeResponse">
    <wsdl:part name="parameters" element="tns:GetNameByBarcodeResponse" />
  </wsdl:message>

  <wsdl:portType name="BarcodeServicePortType">
    <wsdl:operation name="getNameByBarcode">
      <wsdl:input message="tns:GetNameByBarcodeRequest" wsam:Action="http://stayfit.com/barcodeservice/GetNameByBarcodeRequest" />
      <wsdl:output message="tns:GetNameByBarcodeResponse" wsam:Action="http://stayfit.com/barcodeservice/GetNameByBarcodeResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="BarcodeServiceSoapBinding" type="tns:BarcodeServicePortType">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getNameByBarcode">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="BarcodeService">
    <wsdl:documentation>Barcode Service</wsdl:documentation>
    <wsdl:port name="BarcodePort" binding="tns:BarcodeServiceSoapBinding">
      <soap:address location="http://localhost:8085/barcode/services/barcode" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>